@supports not (color: oklch(0.7 0.1 200)) {
  :root {
    --color-red-50: #fef2f2;
    --color-red-100: #fee2e2;
    --color-red-500: #ef4444;
    --color-red-600: #dc2626;
    --color-orange-500: #f97316;
    --color-orange-600: #ea580c;
    --color-green-50: #f0fdf4;
    --color-green-200: #bbf7d0;
    --color-green-500: #22c55e;
    --color-green-600: #16a34a;
    --color-blue-50: #eff6ff;
    --color-blue-100: #dbeafe;
    --color-blue-200: #bfdbfe;
    --color-blue-400: #60a5fa;
    --color-blue-500: #3b82f6;
    --color-blue-600: #2563eb;
    --color-gray-50: #f9fafb;
    --color-gray-100: #f3f4f6;
    --color-gray-200: #e5e7eb;
    --color-gray-300: #d1d5db;
    --color-gray-400: #9ca3af;
    --color-gray-500: #6b7280;
    --color-gray-600: #4b5563;
    --color-gray-700: #374151;
    --color-gray-800: #1f2937;
    --color-gray-900: #111827;

    --foreground: #111827;
    --card-foreground: #111827;
    --popover: #ffffff;
    --popover-foreground: #111827;
    --primary-foreground: #ffffff;
    --secondary: #f3f4f6;
    --ring: #9ca3af;
    --chart-1: #f97316;
    --chart-2: #14b8a6;
    --chart-3: #1d4ed8;
    --chart-4: #facc15;
    --chart-5: #f59e0b;
    --sidebar: #ffffff;
    --sidebar-foreground: #111827;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #f9fafb;
    --sidebar-accent-foreground: #111827;
    --sidebar-border: #e5e7eb;
    --sidebar-ring: #9ca3af;
  }

  .dark {
    --background: #111827;
    --foreground: #f9fafb;
    --card: #111827;
    --card-foreground: #f9fafb;
    --popover: #111827;
    --popover-foreground: #f9fafb;
    --primary: #f9fafb;
    --primary-foreground: #1f2937;
    --secondary: #374151;
    --secondary-foreground: #f9fafb;
    --muted: #374151;
    --muted-foreground: #9ca3af;
    --accent: #374151;
    --accent-foreground: #f9fafb;
    --destructive: #7f1d1d;
    --destructive-foreground: #fecaca;
    --border: #374151;
    --input: #374151;
    --ring: #6b7280;
    --chart-1: #6366f1;
    --chart-2: #34d399;
    --chart-3: #f59e0b;
    --chart-4: #d946ef;
    --chart-5: #ef4444;
    --sidebar: #1f2937;
    --sidebar-foreground: #f9fafb;
    --sidebar-primary: #6366f1;
    --sidebar-primary-foreground: #f9fafb;
    --sidebar-accent: #374151;
    --sidebar-accent-foreground: #f9fafb;
    --sidebar-border: #374151;
    --sidebar-ring: #6b7280;
  }
}
